@import './base.css';
@import 'fyshi.css';

body {
  margin: 0;
  background: var(--body-bg);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

body,
#app,
main {
  min-height: 100vh;
}

body * {
  color: var(--body-text-color);
}